.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 77px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 40px auto 21px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 414px;
}

.u-section-2 .u-text-1 {
  margin: 0 83px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-form-1 {
  height: 164px;
  margin: 28px 581px 60px -11px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 570px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 70px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-top: 64px;
    margin-right: 281px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-top: 89px;
    margin-right: 181px;
  }
}